- let k = 0, totquot = 0,  totship = 0;
- let ztotquots = new Array();
- let ztotships = new Array();
each macsec in macfir.macsecs
	- let pdsec = macsec.pdsec;
	- let color = pdsec.color;
	if color.length > 10
		- color = color.substr(0, 8)+' ..';
	tr
		th.bg-light #{color}
		- let ctotquot = 0;
		each size in machin.sizes
			-let less = '';
			-let quot = '';
			each macthd in macsec.macthds
				if macthd.size == size
					- quot = parseInt(macthd.quot);
					- less = parseInt(macthd.quot) - parseInt(macthd.ship);
					if isNaN(ztotquots[size])
						- ztotquots[size] = quot;
					else
						- ztotquots[size] += quot;
					- ctotquot += quot;
					- totquot += quot;
					- break;
			td
				if less == 0
					-a;
					span #{quot}
				else
					span.text-info #{quot}
		td.text-success #{ctotquot}
		td.bg-secondary
		th.bg-light #{color}
		- let ctotship = 0;
		each size in machin.sizes
			-let less = '';
			-let ship = '';
			each macthd in macsec.macthds
				if macthd.size == size
					- ship = parseInt(macthd.ship);
					- less = parseInt(macthd.quot) - ship;
					if isNaN(ztotships[size])
						- ztotships[size] = ship;
					else
						- ztotships[size] += ship;
					- ctotship += ship;
					- totship += ship;
					- break;
			td 
				if less == 0
					-a;
					span #{ship}
				else
					span.text-info #{ship}
		td.text-success #{ctotship}
tr
	td
	each size in machin.sizes
		-a;
		td.text-success #{ztotquots[size]}
	td.text-success: h4 #{totquot}
	td.bg-secondary
	td
	each size in machin.sizes
		-a;
		td.text-success #{ztotships[size]}
	td.text-success: h4 #{totship}