input(type="hidden", name="obj[machinId]", value=machin._id)
input(type="hidden", name="obj[macfirId]", value=macfir._id)
tr
	th.bg-light 半成品
	- let k = 0, ctotquot = 0;
	each size in machin.sizes
		-let quot = '';
		each macsez in macfir.macsezs
			if macsez.size == size
				- quot = macsez.quot;
				- ctotquot += quot;
				- break;
		td #{quot}
	td.text-success #{ctotquot}
	td.bg-secondary
	th.bg-light 半成品
	- let ctotship = 0;
	each size in machin.sizes
		-let ship = '';
		-let quot = '';
		-let macsezId = '';
		each macsez in macfir.macsezs
			if macsez.size == size
				- macsezId = macsez._id;
				- ship = parseInt(macsez.ship);
				- quot = parseInt(macsez.quot);
				- ctotship += ship;
				- break;
		td 
			if macsezId
				- k++;
				-let shiping = quot - ship;

				if shiping > 0
					-a;
					input.iptsty2.shiping(id="shiping-"+macsezId, type="number", name="obj[thds]["+k+"][shiping]", value=shiping)
					input(id="stock-"+macsezId, type="hidden", value=stock)
					input(type="hidden", name="obj[thds]["+k+"][macsezId]", value=macsezId)
					input(type="hidden", name="obj[thds]["+k+"][shiped]", value=ship)
				else
					span.text-info #{ship}
	td.text-success #{ctotship}