extends ../../aalayout/layout

block content
	.container.mt-5
		input#tintId(type="hidden", value=tint._id)
		.row.border-bottom.mb-4.py-3#optBtn.noprint
			.col-2: h3: a(href="/bsTint/"+tint._id) #{tint.code}
			.col-1.text-right: h3 #{tint.tinfirs[0].pdfir.code}
			.col-2: h3 #{tint.tinfirs[0].pdfir.nome}
			.col-3.text-right: h3#tnerBtn #{tint.tner.nome}
			.col-2
				#formTners
					input#ajaxTners.form-control(type="text", placeholder='染洗厂名称或编号', autocomplete="off")
			.col-2.text-right
				if tint.status == 5
					-a;
					span [状态：正在处理 (#{tint.status})]
				else
					span [状态：历史记录 (#{tint.status})]
		.info.infoQuot
			.tnersAjax.row.my-3
			.row
				.col-6
					h4 订单
				.col-6.text-right #{moment(tint.ctAt).format('YYYY/MM/DD HH:mm:ss')}
			.row.show-colors-quot
			include ./quot
		div.noprint(style="height:100px")
		.info.infoShip
			h4 发货
			.row.show-colors-ship
			include ./ship
		div.noprint(style="height:100px")
		div(style="position: fixed;bottom: 0px;right: 0px;width:100%; height:60px;")
			.row.m-2
				.col-6
					a.noprint.btn.btn-danger(href="/bsTintDel/"+tint._id) 删除
				.col-6.text-right
					button.btn.btn-success.btn-lg#changeBtn(type="button") <span class="oi oi-browser"></span>
	script(src="/js/bser/tint/update/tner.js")
	script(src="/js/bser/tint/update/upthd.js")
	script(src="/js/bser/tint/update/editsec.js")