each tint in tints
	- let tner = tint.tner;

	each tinfir in tint.tinfirs
		-let pdfir = tinfir.pdfir;
		table.table.table-bordered.text-center(class="tinTab pdfir-"+pdfir._id+" tner-"+tner._id)
			tr
				th(colspan=tint.sizes.length+2, width="49%")
					.row
						.col-3.pt-2
							span 样品: 
							span.text-info #{pdfir.code}
						.col-3.pt-2
							span 染洗厂: 
							span.text-info #{tner.nome}
						.col-6.pt-2
							span 染色日期: 
							a(href="/bsTint/"+tint._id) #{moment(tint.ctAt).format('MM/DD/YYYY')}
				th(width="2%")
				th(colspan=tint.sizes.length+2)
					.row
						.col-3.pt-2
								span 样品: 
								span
									a(href="/bsProduct/"+pdfir._id) #{pdfir.code}
						.col-3.pt-2
							span 染洗厂: 
							span
								a(href="/bsTner/"+tner._id) #{tner.nome}
						.col-4.pt-2
							span 完成收货: 
							span #{moment(tint.fnAt).format('MM/DD/YYYY')}
						.col-2.text-right
							form(method="post", action="/bsTinChangeSts", enctype="multipart/form-data")
								input(type="hidden", name="tintId", value=tint._id)
								input(type="hidden", name="target", value="bsTintBack")
								input.btn.btn-danger(type="submit", value="未完成")
			tr.bg-light
				th(width="8%") 颜色
				each size in tint.sizes
					-a;
					th #{Conf.sizes[size]}
				th(width="6%") 合计
				th.bg-secondary
				th(width="8%") 颜色
				each size in tint.sizes
					-a;
					th #{Conf.sizes[size]}
				th(width="6%") 合计
			- let k = 0;
			- let totquot = totship = 0;
			each tinsec in tinfir.tinsecs
				- let pdsec = tinsec.pdsec;
				- let color = pdsec.color;
				if color.length > 10
					- color = color.substr(0, 8)+' ..';
				tr
					th.bg-light #{color}
					-let ctotquot = 0;
					each size in tint.sizes
						-let less = '';
						-let quot = '';
						each tinthd in tinsec.tinthds
							if tinthd.size == size
								- quot = parseInt(tinthd.quot);
								- less = parseInt(tinthd.quot) - parseInt(tinthd.ship);
								- ctotquot += quot;
								- totquot += quot;
								- break;
						td 
							if less == 0
								-a;
								span #{quot}
							else
								span.text-info #{quot}
					td.text-success #{ctotquot}
					td.bg-secondary
					th.bg-light #{color}
					-let ctotship = 0;
					each size in tint.sizes
						-let less = '';
						-let ship = '';
						each tinthd in tinsec.tinthds
							if tinthd.size == size
								- ship = parseInt(tinthd.ship);
								- less = parseInt(tinthd.quot) - ship;
								- ctotship += ship;
								- totship += ship;
								- break;
						td 
							if less == 0
								-a;
								span #{ship}
							else
								span.text-info #{ship}
					td.text-success #{ctotship}
			tr
				td(colspan=tint.sizes.length+1)
				td.text-success: h4 #{totquot}
				td.bg-secondary
				td(colspan=tint.sizes.length+1)
				td.text-success: h4 #{totship}