table.table.border.mt-3
	tr
		td: strong 公司名称:
		td #{firm.code}
	tr
		td: strong 电话:
		td #{firm.tel}
	tr
		td: strong 负责人: 
		td #{firm.resp}
	tr
		td: strong 地址:
		td #{firm.addr}
	tr
		td: strong 邮编:
		td #{firm.post}
	tr
		td: strong 城市:
		td #{firm.city}
	tr
		td: strong 城市简称:
		td #{firm.ct}
	tr
		td: strong 国家:
		td #{firm.nation}
	tr
		td: strong 国家简称:
		td #{firm.nt}
	tr
		td: strong Iva:
		td #{firm.iva}
	tr
		td: strong C.F.:
		td #{firm.cf}
	tr
		td: strong 银行:
		td #{firm.bank}
	tr
		td: strong Iban:
		td #{firm.iban}