extends ../aalayout/layout

block content
	div(style="height:50px")

	input#products(type="hidden", value=products)
	.container
	.row.m-5
		each pdfir in products
			-a;
			.col-md-1.text-right.mt-4.pdfir(class="pdfir-"+pdfir.code)
				h3: a(href="/bsProduct/"+pdfir._id) #{pdfir.code}
				h5 #{pdfir.nome} 
				//- p Mat:#{pdfir.material} 
				p Note:#{pdfir.note} 
			.col-md-1.mt-4.pdfir(class="pdfir-"+pdfir.code)
				h2: a(href="/bsProduct/"+pdfir._id)
					img(src=pdfir.photo, width="80px")
			.col-md-10.mt-4.tblDial
				table.table.table-bordered.pdfir(class="pdfir-"+pdfir.code)
					tr
						td(width="15%") 颜色
						each size in pdfir.sizes
							-a;
							td #{Conf.sizes[size]}
					if pdfir.semi == 1
						-a;
						tr.text-warning
							td 半成品
							each pdsez in pdfir.pdsezs
								- let quotMsez = shipMsez = 0;
								-let quotOthds = shipOthds = 0;
								-let quotTthds = shipTthds = 0;
								-let needTthds = 0;
								each macsez in pdsez.macsezs
									-quotMsez+=parseInt(macsez.quot);
									-shipMsez+=parseInt(macsez.ship);
								each pdthd in pdsez.pdthds
									- let quotOthd = shipOthd = 0;
									- let quotTthd = shipTthd = 0;
									each ordthd in pdthd.ordthds
										- quotOthd += parseInt(ordthd.quot);
										- shipOthd += parseInt(ordthd.ship);
									each tinthd in pdthd.tinthds
										- quotTthd += parseInt(tinthd.quot);
										- shipTthd += parseInt(tinthd.ship);
									- quotTthds += quotTthd;
									- shipTthds += shipTthd;
									- let showThdStock = parseInt(pdthd.stock) + shipTthd - shipOthd;
								- let showSezStock = parseInt(pdsez.stock) + shipMsez - quotTthds;
								- let needMac = needTthds - showSezStock - (quotMsez-shipMsez);
								td #{showSezStock}
					each pdsec in pdfir.pdsecs
						-a;
						tr
							td #{pdsec.color}
							each pdthd in pdsec.pdthds
								- let quotOthd = shipOthd = 0;
								- let quotMthd = shipMthd = 0;
								- let quotTthd = shipTthd = 0;
								each ordthd in pdthd.ordthds
									- quotOthd += parseInt(ordthd.quot);
									- shipOthd += parseInt(ordthd.ship);
								each macthd in pdthd.macthds
									- quotMthd += parseInt(macthd.quot);
									- shipMthd += parseInt(macthd.ship);
								each tinthd in pdthd.tinthds
									- quotTthd += parseInt(tinthd.quot);
									- shipTthd += parseInt(tinthd.ship);
								- let showThdStcok = parseInt(pdthd.stock) + shipMthd + shipTthd - shipOthd;
								td #{showThdStcok}
	.topNav-second.p-1
		.row.pt-1
			//- .col-1
			//- 	button.btn.btn-info.shield(type="button") <span class="oi oi-shield"></span>
			.col-2
				a.btn.btn-warning.btn-block(href="/bsProductAdd") <span class="oi oi-plus"></span>
			.col-5.text-center
			.col-1
				button.btn.btn-info#showDialBtn(type="button", style="display:none") <span class="oi oi-dial"></span>
				button.btn.btn-secondary#hideDialBtn(type="button") <span class="oi oi-dial"></span>
			.col-4#pdCode
				input#iptCode.form-control(type="text", autocomplete="off", placeholder="模特号码")
	script(src="/const/const.js")
	script(src="/js/bser/product/list.js")