input.form-control#pdfirId(type="hidden", value=pdfir._id)
.row.optionBtn
	.col-4
		input#colors(type="hidden", value=pdfir.colors)
		button.btn.btn-warning.plusColorBtn(type="button") <span class="oi oi-plus"></span> 颜色
		if pdfir.pdsecs.length > 0
			-a;
			span &nbsp; &nbsp;
			button.btn.btn-danger.minusColorBtn(type="button") <span class="oi oi-minus"></span> 颜色
	.col-4
		input#sizes(type="hidden", value=pdfir.sizes)
		button.btn.btn-warning.plusSizeBtn(type="button") <span class="oi oi-plus"></span> 尺寸
		if pdfir.pdsezs.length > 0
			-a;
			span &nbsp; &nbsp;
			button.btn.btn-danger.minusSizeBtn(type="button") <span class="oi oi-minus"></span> 尺寸
	.col-4.text-right
		button.btn.btn-danger.pdfirDelBtn(type="button", data-id=pdfir._id) 删除
.iptPage.plusColor(style="display:none")
	.form-group.row
		label.col-2.col-form-label(for="plusColor") 颜色
		.col-3
			input#plusColor.form-control(type="text", autocomplete="off")
		.col-3.pt-1#optPlusColor.text-danger
		.col-2
			button.btn.btn-secondary.cancelBtn(type="button") 取消
		.col-2
			button#newColorBtn.btn.btn-info.btn-block(type="button") 添加
.iptPage.minusColor(style="display:none")
	.form-group.row
		label.col-2.col-form-label(for="minusColor") 颜色
		.col-3
			select#minusColor.form-control(data-style="btn-info")
					each pdsec in pdfir.pdsecs
						-a;
						option(value=pdsec._id) #{pdsec.color}
		.col-3.pt-1#optMinusColor.text-danger
		.col-2
			button.btn.btn-secondary.cancelBtn(type="button") 取消
		.col-2
			button#delColorBtn.btn.btn-danger.btn-block(type="button") 删除
.iptPage.plusSize(style="display:none")
	.form-group.row
		label.col-2.col-form-label(for="plusSize") 尺寸
		.col-3
			select#plusSize.form-control(data-style="btn-info")
				each size in Object.keys(Conf.sizes)
					-size = parseInt(size);
					if size+1 == parseInt(pdfir.sizes[0])
						-a;
						option(value=size) #{Conf.sizes[size]}
					if size-1 == parseInt(pdfir.sizes[pdfir.sizes.length-1])
						-a;
						option(value=size) #{Conf.sizes[size]}
		.col-3
		.col-2
			button.btn.btn-secondary.cancelBtn(type="button") 取消
		.col-2
			button#newSizeBtn.btn.btn-info.btn-block(type="button") 添加
.iptPage.minusSize(style="display:none")
	.form-group.row
		label.col-2.col-form-label(for="minusSize") 尺寸
		.col-3
			select#minusSize.form-control(data-style="btn-info")
				if pdfir.pdsezs && pdfir.pdsezs.length > 0
					- let pdsez = pdfir.pdsezs[0];
					option(value=pdsez._id) #{Conf.sizes[pdsez.size]}
					- pdsez = pdfir.pdsezs[pdfir.pdsezs.length-1];
					option(value=pdsez._id) #{Conf.sizes[pdsez.size]}
		.col-3
		.col-2
			button.btn.btn-secondary.cancelBtn(type="button") 取消
		.col-2
			button#delSizeBtn.btn.btn-danger.btn-block(type="button") 删除