.ptCont.pdstock
	span.textStock(id="stockText-"+pdthd._id) #{showThdStock}

-let needMText = "text-danger";
if needMac <= 0
	-needMac = 0;
	-needMText = "text-dark";
span.ptCont.pdorder(class=orderText style="display:none") #{lessOthd}

span.ptCont.pdneedM(class=needMText style="display:none") #{needMac}

span.ptCont.pdmachin(class=prodingText style="display:none") #{lessMthd}

.ptCont.pdeditStockBtn
	form(id="form-"+pdthd._id, method="post", action="/bsProdUpStock", enctype="multipart/form-data")
		input(type="hidden", name="obj[pdthd]", value=pdthd._id)
		input.editStock.iptsty(id="stockIpt-"+pdthd._id, type="number", style="display:none" name="obj[stock]", value=showThdStock)
		input(id="stockOrg-"+pdthd._id, type="hidden", name="obj[stockOrg]", value=showThdStock)