.ptCont.pdstock
	span.textStock(id="stockText-"+pdthd._id) #{showThdStock}

if needT <= 0
	-needT = 0;
span.ptCont.pdorder(style="display:none") #{quotOthd-shipOthd}

span.ptCont.pdneedT(style="display:none") #{needT}

span.ptCont.pdtint(style="display:none") #{quotTthd-shipTthd}

.ptCont.pdeditStockBtn
	form(id="form-"+pdthd._id, method="post", action="/bsProdUpStock", enctype="multipart/form-data")
		input(type="hidden", name="obj[pdthd]", value=pdthd._id)
		input.editStock.iptsty(id="stockIpt-"+pdthd._id, type="number", style="display:none" name="obj[stock]", value=showThdStock)
		input(id="stockOrg-"+pdthd._id, type="hidden", name="obj[stockOrg]", value=showThdStock)