table.table.table-borderless.border.border-dark
	thead
		tr.textCenter
			th.border.border-dark(width="15%") Code [Name]
			th.border.border-dark.text-center(width="8%") Color
			each size in order.sizes
				-a;
				th.border.border-info.text-center #{Conf.sizes[size]}
			th.border.border-dark.text-right(width="9%") QNT
			th.border.border-dark.text-right(width="8%") Prezzo(€)
			th.border.border-dark.text-right(width="10%") Total(€)
	tbody
		-let impQuot=impShip=0;
		each ordfir in order.ordfirs
			-let pdQuot=0;
			-let pdShip=0;
			tr
				td #{ordfir.code}
				td(colspan=1+order.sizes.length)
				td.text-right
				td.text-right
				td.text-right
			each ordsec in ordfir.ordsecs
				- let cQuot = 0;
				- let cShip = 0;
				tr
					td
					th #{ordsec.color}
					each size in order.sizes
						-let taskThd = null;
						each ordthd in ordsec.ordthds
							if ordthd.size == size
								- taskThd = ordthd;
								- let quot = ordthd.quot;
								- cQuot += ordthd.quot;
								- cShip += ordthd.ship;
								- pdQuot += ordthd.quot;
								- pdShip += ordthd.ship;
								- break;
						td.text-center
							if taskThd
								-a;
								span.ordCont.ordquot(style="display:none") #{taskThd.quot}
								span.ordCont.ordship #{taskThd.ship}
								span.ordCont.ordless(style="display:none") #{taskThd.quot - taskThd.ship}
					td.text-right
						span.ordCont.ordquot(style="display:none") #{cQuot}
						span.ordCont.ordship #{cShip}
					td.border-right.border-dark(colspan="2")
			tr
				- let pdfir = new Object();
				if ordfir.pdfir
					- pdfir = ordfir.pdfir;
				td.border-bottom.border-dark #{pdfir.code} [#{pdfir.nome}]
				td.border-bottom.border-dark(colspan=1+order.sizes.length)
				td.border.border-dark.text-right
					h4.ordCont.ordquot(style="display:none") #{pdQuot}
					h4.ordCont.ordship #{pdShip}
				td.border.border-dark.text-right
					h4 #{(ordfir.price).toFixed(2)}
				td.border.border-dark.text-right
					h4.ordCont.ordquot(style="display:none") #{(ordfir.price*pdQuot).toFixed(2)}
					h4.ordCont.ordship #{(ordfir.price*pdShip).toFixed(2)}
				- impQuot += ordfir.price*pdQuot;
				- impShip += ordfir.price*pdShip;
		tr
			th.border.border-dark.text-right(colspan=5+order.sizes.length)
				h3.ordCont.ordquot(style="display:none") #{impQuot.toFixed(2)} €
				h3.ordCont.ordship #{impShip.toFixed(2)} €