.downBtn.noprint(style="display:none")
	.row.text-center.my-4
		.col-6: a.btn.btn-info(href="/bsOrderPDF/"+order._id, download) <span class="oi oi-data-transfer-download"></span> PDF
		.col-6: a.btn.btn-info(href="/bsOrderExcel/"+order._id, download) <span class="oi oi-data-transfer-download"></span> EXCEL
.row.text-center
	.col-sm-12
		h2(style="font-size: 40px"): strong #{firm.code}
		h3 PREVENTIVO
.row
	.col-sm-4
		h4 地址: #{firm.addr}
		div(style="height:5px")
		h4 电话: #{firm.tel}
	.col-sm-4
		- let cterCp = new Object();
		if order.cter
			- cterCp = order.cter;
		h4 客户: #{cterCp.nome}
		div(style="height:5px")
		h4 电话: #{cterCp.tel}
	.col-sm-4
		h5 No: #{order.code}
		h5 Date: #{moment(order.ctAt).format('DD/MM/YYYY')}