extends ../aalayout/layout

block content
	div(style="height:50px")

	input#tint(type="hidden", value=tint)
	input#sizes(type="hidden", value=Conf.sizes)
	.m-5
		include ./list/list10
	div(style="height: 80px")
	.text-center.text-info.pt-2#bsTins(style="position: fixed;bottom: 0px;right: 0px;width:100%; height:50px; background: #C0C0C0") 染洗单 &nbsp; <span class="oi oi-chevron-bottom"></span> &nbsp; 在处理...

	.topNav-second.scrollNav
		.row
			-let ctAtCaret = upAtCaret = fnAtCaret = '<span class="oi oi-elevator"></span>';
			if sortCond == 'ctAt'
				if sortVal == 1
					-ctAtCaret = '<span class="oi oi-caret-bottom"></span>';
				else
					-ctAtCaret = '<span class="oi oi-caret-top"></span>';
			else if sortCond == 'fnAt'
				if sortVal == 1
					-fnAtCaret = '<span class="oi oi-caret-bottom"></span>';
				else
					-fnAtCaret = '<span class="oi oi-caret-top"></span>';
			//- // - sortVal = -parseInt(sortVal);
			.col-1(style="width:100%; height:58px;")
			.col-2.pt-2#pdsearch
				input.form-control#iptProduct(type="text" list="getPdCode", placeholder="模特搜索")
				datalist(id="getPdCode")
			.col-2.pt-2#tnersearch
				input.form-control#iptTner(type="text" list="getTnerNome", placeholder="客人搜索")
				datalist(id="getTnerNome")
			.col-1.pt-3.sortAt#ctAt 创建 !{ctAtCaret}
			.col-1.pt-3.sortAt#fnAt 完成 !{fnAtCaret}
			.col-2.pt-2
				input#atFm.datepicker.form-control(type="text",readonly="readonly", value=moment(atFm).format('MM/DD/YYYY'))
			.col-2.pt-2
				input#atTo.datepicker.form-control(type="text", readonly="readonly", value=moment(atTo).format('MM/DD/YYYY'))
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	//- <link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	//- timepicker
	link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
	script(src="/libs/jt.timepicker/jquery.timepicker.min.js")

	script(src="/const/const.js")
	script(src="/js/bser/pagejump.js")
	script(src="/js/bser/tint/option.js")
	script(src="/js/bser/tint/list/list10.js")