table.mt-3.table.table-hover.bg-light
	tr
		td <strong>公司名:</strong>
		td #{object.code}
	tr
		td <strong>负责人姓名:</strong> 
		td #{object.resp}
	tr
		td <strong>电话:</strong>
		td #{object.tel}
	tr
		td <strong>公司iva:</strong>
		td #{object.iva}
	tr
		td <strong>邮编:</strong>
		td #{object.post}
	tr
		td <strong>地址:</strong>
		td #{object.addr}
	tr
		td <strong>所在城市:</strong>
		td #{object.city}
	tr
		td <strong>城市简称:</strong>
		td #{object.ct}
	tr
		td <strong>国家:</strong>
		td #{object.nation}
	tr
		td <strong>国家简称:</strong>
		td #{object.nt}
	tr
		td <strong>银行:</strong>
		td #{object.bank}
	tr
		td <strong>iban:</strong>
		td #{object.iban}