extends ../../aalayout/layout

block content
	.container.mt-5
		input#machinId(type="hidden", value=machin._id)
		.row.bmachin-bottom.mb-4.py-3#optBtn.noprint
			.col-2: h3: a(href="/bsMachin/"+machin._id) #{machin.code}
			.col-1.text-right: h3 #{machin.macfirs[0].pdfir.code}
			.col-2: h3 #{machin.macfirs[0].pdfir.nome}
			.col-3.text-right
				h3#fderBtn
					if machin.fder
						-fder = machin.fder;
						span #{fder.nome}
			.col-2
				#formFders
					input#ajaxFders.form-control(type="text", placeholder='工厂名称或编号', autocomplete="off")
			.col-2.text-right
				if machin.status == 5
					-a;
					span [状态：正在处理 (#{machin.status})]
				else
					span [状态：历史记录 (#{machin.status})]
		.info.infoQuot
			.fdersAjax.row.my-3
			.row
				.col-6
					h4 生产单
				.col-6.text-right #{moment(machin.ctAt).format('YYYY/MM/DD HH:mm:ss')}
			.row.show-colors-quot
			include ./comp/quot
		div.noprint(style="height:100px")
		.info.infoShip
			h4 发货
			.row.show-colors-ship
			include ./comp/ship
		div.noprint(style="height:100px")
		
		div(style="position: fixed;bottom: 0px;right: 0px;width:100%; height:60px;")
			.row.m-2
				.col-6
					a.noprint.btn.btn-danger(href="/bsMachinDel/"+machin._id) 删除
				.col-6.text-right
					button.btn.btn-success.btn-lg#changeBtn(type="button") <span class="oi oi-browser"></span>
	script(src="/js/bser/machin/update/fder.js")
	script(src="/js/bser/machin/update/upthd.js")
	script(src="/js/bser/machin/update/editsec.js")