extends ../../aalayout/layout

block content
	.container.mt-5
		input#orderId(type="hidden", value=order._id)
		.row.border-bottom.mb-4.py-3#optBtn.noprint
			.col-2: h3: a(href="/bsOrder/"+order._id) #{order.code}
			.col-1.text-right: h3 #{order.ordfirs[0].pdfir.code}
			.col-2: h3 #{order.ordfirs[0].pdfir.nome}
			.col-3.text-right: h3#cterBtn #{order.cter.nome}
			.col-2
				#formCters
					input#ajaxCters.form-control(type="text", placeholder='客户名称或编号', autocomplete="off")
			.col-2.text-right
				if order.status == 5
					-a;
					span [状态：正在处理 (#{order.status})]
				else
					span [状态：历史记录 (#{order.status})]
		.info.infoQuot
			.ctersAjax.row.my-3
			.row.my-2
				.col-4
					h4 订单: #{order.code}
				.col-6.text-right #{moment(order.ctAt).format('YYYY/MM/DD HH:mm:ss')}
			.row.show-colors-quot
			include ./quot
		div.noprint(style="height:100px")
		.info.infoShip
			h4 发货
			.row.show-colors-ship
			include ./ship
		div.noprint(style="height:100px")
		div(style="position: fixed;bottom: 0px;right: 0px;width:100%; height:60px;")
			.row.m-2
				.col-6
					a.noprint.btn.btn-danger(href="/bsOrderDel/"+order._id) 删除
				.col-6.text-right
					button.btn.btn-success.btn-lg#changeBtn(type="button") <span class="oi oi-browser"></span>
	script(src="/js/bser/order/update/cter.js")
	script(src="/js/bser/order/update/upthd.js")
	script(src="/js/bser/order/update/editsec.js")